.group-alphanumeric{
    float: left;
    width: 33.3%;
    margin-right:10px;
    margin-bottom:10px;
}
.group-alphanumeric h1{
    text-align: left;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-family: Arial;
    font-size: 18px;
    line-height: normal;
    color: #000000;
    text-transform:uppercase;
}
.group-alphanumeric a{
    font-family: Arial;
    font-size: 12px;
    line-height: normal;
    color: #000000;
    float: left;
    width: 100%;
    display: block;
    text-align: left;
}